extends ../templates/layout

block content
  form(method='POST' enctype='multipart/form-data')
    div
      label(for='username') 유저명
      input(name='username' id='username' type='text' placeholder='유저의 닉네임' value=user.username required)
      span=usernameErrorMsg
    div 
      label(for='email') 이메일
      input(name='email' id='email' type='text' placeholder='이메일' value=user.email)
      span=emailErrorMsg
    div 
      label(for='phoneNumber') 휴대전화
      input(name='phoneNumber' id='phoneNumber' type='number' placeholder='휴대전화' value=user.phoneNumber)
      span=phoneNumberErrorMsg
    div 
      label(for='location') 주소명
      input(name='location' id='location' type='text' placeholder='주소명' value=user.location)
      span=addressErrorMsg
      hr
    div
      label(for='avatar') 프로필 사진
      input(name='avatar' id='avatar' type='file' accept='image/*')
    div
      label(for='watchlist') 관심있는 테마
      input(name='watchlist' id='watchlist' type='text' placeholder='관심있는 테마(쉼표로 테마들을 나눕니다.)')
      span.form__watchlist ※관심있는 테마를 등록하면 그 테마에 맞는 카페를 빠르게 찾아볼 수 있습니다.
    div
      input(type='submit' value='저장').form__submit
  hr
  a(href=`/users/${user._id}/change-password`).form__change-pwd 비밀번호 바꾸기