extends ../templates/layout
include ../mixins/profile-cafe

block content
  div.profile__container
    div.profile__name
      div.profile__name__identity
        h1 #{user.uid}
        h3 #{user.username}
      if(user.avatarUrl)
        img(src=`${user.avatarUrl}` alt=`${user.uid}님의 이미지`)
      else
        img(src="/assets/img/default.jpg" alt="디폴트 이미지")
    ul.profile__info
      li
        p 이메일 : 
        if(user.email)
          p #{user.email}
        else
          p 등록해주신 이메일 정보가 없습니다.
      li
        p 휴대전화 : 
        if(user.phoneNumber)
          p #{user.phoneNumber}
        else
          p 등록해주신 휴대전화 정보가 없습니다.
      li
        p 주소 : 
        if(user.location)
          p #{user.location}
        else
          p 등록해주신 주소 정보가 없습니다.
      li
        p 관심테마 : 
        if(user.watchlist)
          p=user.watchlist.join(',')
        else
          p 등록해주신 관심테마가 없습니다.
      li.profile__posted
        div.profile__nav
          h3.active 등록한 카페
          h3 내가 쓴 댓글
        ul.profile__posted-cafes
          li.profile__posted__header
            h5 이름
            h5 설명
            h5 테마
          each cafe in user.registeredCafes
            li.profile__posted-cafe
              a(href=`/cafes/${cafe._id}`)=cafe.name
              p=cafe.description
              p=cafe.theme
        ul.profile__posted-comment.hidden
          li.profile__posted__header
            h5 이름
            h5 내용
            h5 평점
          each comment in user.comments
            li.profile__posted-cafe
              p=comment.cafe.name
              p=comment.text
              p=comment.score

    if loggedUser
      if String(loggedUser._id) === String(user._id)
        div.profile__btns
          a(href=`/users/${user._id}/edit`) 수정하기
          a(href=`/users/${user._id}/signout`) 회원탈퇴
block script
  script(src='/dist/js/profile.js')